a:link {
    text-decoration: none;
}
a:visited {
color: inherit;
}
ul, ol {
list-style-type: none;
}
button {
    cursor: pointer;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455 
    background-color: #ffffff;
}
/* HEADER*/

.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.text-logo {
    color:#2e2f42;;
}
.page-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-menu {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* HERO */
.main-text {
    font-weight: 700;
font-size: 56px;
line-height: 1.08;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
}
.main-section {
background: #2e2f42;
}
.main-button {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
background-color: #4d5ae5;
}

/* Section About*/

.head-description {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.paragrapg-description {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* Section Our Team*/
.section-head
{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

/* Footer*/
.footer-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
.page-footer {
    background-color: #2e2f42;;
}